<IfModule mod_rewrite.c>
    RewriteEngine On

    # rewrite everything to index and let our router decide the rest
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>