<html>
<head>
    <title>Infrared</title>
</head>
<body>
    <form action="/login" method="post">
        login: <input type="text" name="email">
        <input type="submit" value="signup/login">
    </form>
</body>
</html>