<div class="heatmap">
    <div class="webview">
        <form class="addressbar">
            <input type="text" id="addressbar" class="addressbar" value="http://">
        </form>
        <iframe></iframe>
    </div>
    <div id="heatmapContainer">
        <div class="actions clearfix">
            <a class="replay" href="replay">replay</a>
        </div>
        <canvas></canvas>
    </div>
</div>
