{% extends 'admin/admin.main.html.twig' %}

{% block content %}
<div id="pad-wrapper">
    <div class="row header">
        <h3>Registered domains</h3>
        <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
            <a href="domains/new" class="btn-flat success pull-right">
                <span>&#43;</span>
                NEW DOMAIN
            </a>
        </div>
    </div>
    <div class="table-products">
        <div class="row">




            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-3">
                            Domain name
                        </th>
                        <th class="col-md-3">
                            <span class="line"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                    <tr {% if loop.first %}class="first"{% endif %} {% if loop.last %}class="last"{% endif %}>
                        <td>
                            {{ domain.domain_name }}
                        </td>
                        <td>
                            <ul class="actions">
                                <a class="delete" href="/domains/{{ domain.domain_name }}">Delete</a>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <!-- end table sample -->
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $('a.delete').on('click', function(e){
        e.preventDefault();
        if (confirm("Press a button")) {
            $.ajax({
                url: $(this).attr('href'),
                method : 'delete',
                success : function(){
                    location.reload();
                }
            });
        }
    });
</script>
{% endblock scripts %}