{% extends 'admin/admin.main.html.twig' %}

{% block content %}
<div id="pad-wrapper">
    <div class="row header">
        <h3>Registered domains</h3>
        <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
            <a href="domains/new" class="btn-flat success pull-right">
                <span>&#43;</span>
                NEW DOMAIN
            </a>
        </div>
    </div>
    <div class="table-products">
        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <!-- row -->
                    {% for domain in domains %}
                    <tr class="first">
                        <td>
                            <a href="/domains/{{ domain.domain_name }}">{{ domain.domain_name }}</a>
                        </td>
                        <td>
                            <ul class="actions">
                                <li class="last">
                                    <a href="/domains/{{ domain.domain_name }}/delete"><i class="table-delete"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- end table sample -->
</div>

{% endblock content %}