{% extends 'admin/admin.main.html.twig' %}

{% block content %}
<div id="pad-wrapper">
    <div class="row">
        <h2>Instructions</h2>
        <p>Follow these instructions to get you all up and running</p>
    </div>

    <div class="row">
        <h4>Javascript library</h4>
        <p>lorem</p>
    </div>


{#     <div>
    </div>
 #}
{#     <div class="alert alert-info">
        <i class="icon-exclamation-sign"></i>
        Your API key: {{ api_key }}
    </div>
 #}</div>
{% endblock content %}